@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

:root {
  --bgColor: linear-gradient(to right, #78ffd6, #007991);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat center;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form_wrapper {
  max-width: 550px;
  width: 100%;
  z-index: 2;
  background: #fff;
}

.form_control > label {
  display: block;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}

.form_control > input {
  display: block;
  width: 100%;
  padding: 7px 14px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  appearance: none;
}

.form {
  padding: 40px;
}

.form_head {
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  background: var(--bgColor);
}

input:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.form_control {
  position: relative;
}

.form_control.sucess input {
  border-color: #2ecc71;
}

.form_control.error input {
  border-color: #e74c3c;
}

.form_control.sucess .check {
  color: #2ecc71;
  visibility: visible;
}

.form_control.error .exclaim {
  color: #e74c3c;
  visibility: visible;
}

.form_control .circle {
  position: absolute;
  right: 3%;
  top: 36px;
  visibility: hidden;
}

.form_control .error_msg {
  display: block;
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 16px;
  color: #e74c3c;
  visibility: hidden;
  font-weight: 900;
}

.form_control.error .error_msg {
  visibility: visible;
}

input::placeholder {
  color: #ccc;
}

.form_btn > .submit {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background: var(--bgColor);
  color: #fff;
  font-weight: 700;
}
